Repository eclipse/packages, pull requests merged in 2020-12, with the labels that each got.

#169 [#168] Use ANYCAST routing type in broker config
  charts/hono/Chart.yaml
  charts/hono/config/artemis/broker.xml
Labels: Hono, bug

#172 updated Ditto chart to released Ditto 1.5.0
  charts/ditto/Chart.yaml
Labels: Ditto

#174 Upgrade several components to latest versions
  charts/hono/Chart.yaml
  charts/hono/values.yaml
Labels: Hono

#175 Upgrade to Hono 1.5.0
  charts/hono/Chart.yaml
Labels: Hono

#177 [#176] Use bitnami chart repo URL in Ditto's requirements
  charts/ditto/Chart.yaml
  charts/ditto/requirements.yaml
Labels: Ditto

#164 [hono] Add support for JDBC device registry
  charts/hono/Chart.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-secret.yaml
  charts/hono/values.yaml
Labels: Hono
