Repository eclipse/packages, pull requests merged in 2020-02, with the labels that each got.

#29 Add detailed installation instructions
  charts/hono/Chart.yaml
  charts/hono/README.md
Labels: Hono

#32 Update to Hono 1.1.0
  charts/hono/Chart.yaml
  charts/hono/templates/hono-service-device-registry/hono-service-device-registry-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#34 [eclipse/hono#1728] Update Prometheus to version 2.15.2
  charts/hono/Chart.yaml
  charts/hono/requirements.yaml
Labels: Hono

#42 Always include example key material in conf secret
  charts/hono/Chart.yaml
  charts/hono/templates/NOTES.txt
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-secret.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-vertx-secret.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-vertx-secret.yaml
  charts/hono/templates/hono-adapter-kura/hono-adapter-kura-secret.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-vertx-secret.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-secret.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-secret.yaml
  charts/hono/templates/hono-service-device-connection/hono-service-device-connection-secret.yaml
  charts/hono/templates/hono-service-device-registry/hono-service-device-registry-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#41 Ditto chart: added defaults for resources.requests cpu and memory config
  charts/ditto/Chart.yaml
  charts/ditto/templates/nginx-configmap.yaml
  charts/ditto/values.yaml
Labels: Ditto

#44 Add iot-chart tag to Hono chart
  charts/hono/Chart.yaml
  charts/hono/templates/NOTES.txt
Labels: Hono

#43 Add NOTES.txt referring to Cloud2Edge home page
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/templates/NOTES.txt
Labels: Cloud2Edge

#46 Add iot-chart key word to hawkBit Chart.yaml
  charts/hawkbit/Chart.yaml
Labels: hawkBit

#45 Add iot-chart key word to Ditto Chart.yaml
  charts/ditto/Chart.yaml
Labels: Ditto

#48 Use resource definitions from values.yaml
  charts/ditto/Chart.yaml
  charts/ditto/templates/swaggerui-deployment.yaml
Labels: Ditto

#49 Set resource limits for all components
  homepage/_packages/cloud2edge/installation.md
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/values.yaml
Labels: Cloud2Edge

#54 Set up Hono connection and digital twin as part of chart install
  homepage/_packages/cloud2edge/installation.md
  homepage/_packages/cloud2edge/scripts/setCloud2EdgeEnv.sh
  homepage/_packages/cloud2edge/tour.md
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/example-credentials.json
  packages/cloud2edge/example-device-identities.json
  packages/cloud2edge/example-permissions.json
  packages/cloud2edge/example-tenants.json
  packages/cloud2edge/post-install/demo-device-credentials.json
  packages/cloud2edge/post-install/hono-connection.json
  packages/cloud2edge/post-install/thing-definition.json
  packages/cloud2edge/requirements.yaml
  packages/cloud2edge/templates/permissions-secret.yaml
  packages/cloud2edge/templates/post-install-job.yaml
  packages/cloud2edge/templates/post-install-secret.yaml
  packages/cloud2edge/values.yaml
Labels: Cloud2Edge

#55 fixed that Ditto-Hono connection in c2e package contained wrong address
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/post-install/hono-connection.json
Labels: Cloud2Edge

#56 Enhanced "tour" documentation of c2e package by creating twins and sending commands
  homepage/_packages/cloud2edge/tour.md
Labels: Cloud2Edge
