Repository eclipse/packages, pull requests merged in 2020-04, with the labels that each got.

#90 [#86] Add kubernetes 1.18.0
  .github/workflows/ci.yaml
Labels: continuous-integration

#93 Fix k8s versions for install test in CI pipeline
  .github/workflows/ci.yaml
Labels: bug, continuous-integration

#96 Upgrade to Hono 1.2.2
  charts/hono/Chart.yaml
  charts/hono/values.yaml
Labels: Hono

#95 update readme of c2e with link to homepage
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/README.md
Labels: Cloud2Edge, documentation

#102 Document how to use specific, non-standard images
  charts/hono/Chart.yaml
  charts/hono/README.md
Labels: Hono
