Repository eclipse/packages, pull requests merged in 2020-09, with the labels that each got.

#134 updated cloud2edge package to latest Ditto+Hono
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/post-install/hono-connection.json
  packages/cloud2edge/requirements.yaml
Labels: Cloud2Edge

#140 [#136] Use Hono chart with new demo keys/certs in c2e
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/requirements.yaml
Labels: Cloud2Edge, Hono, bug

#138 [#129] Support configuring the container registry for Hono images
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-kura/hono-adapter-kura-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
  charts/hono/templates/hono-service-device-connection/hono-service-device-connection-deployment.yaml
  charts/hono/templates/hono-service-device-registry/hono-service-device-registry-statefulset.yaml
  charts/hono/values.yaml
Labels: Hono, feature request

#141 Upgrade to hono 1.4.0
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/hono-adapter-amqp/headless-svc.yaml
  charts/hono/templates/hono-adapter-coap/headless-svc.yaml
  charts/hono/templates/hono-adapter-http/headless-svc.yaml
  charts/hono/templates/hono-adapter-kura/headless-svc.yaml
  charts/hono/templates/hono-adapter-lora/headless-svc.yaml
  charts/hono/templates/hono-adapter-mqtt/headless-svc.yaml
  charts/hono/templates/hono-service-auth/headless-svc.yaml
  charts/hono/templates/hono-service-device-connection/headless-svc.yaml
  charts/hono/templates/hono-service-device-registry/headless-svc.yaml
Labels: Hono

#143 [#142] Use deviceIdPattern with added colon
  charts/hono/Chart.yaml
  charts/hono/templates/hono-service-device-registry/hono-service-device-registry-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#144 [#142] Use updated Hono chart; fix credentials json
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/post-install/demo-device-credentials.json
  packages/cloud2edge/requirements.yaml
Labels: Cloud2Edge, bug

#111 [eclipse/hono#1679] Add support to deploy MongoDB based device registry
  charts/hono/Chart.yaml
  charts/hono/ci/mongodb-based-device-registry-values.yaml
  charts/hono/example/add_example_data_device_registry.sh
  charts/hono/example/example-credentials.json
  charts/hono/example/example-credentials.sh
  charts/hono/example/example-device-identities.json
  charts/hono/example/example-devices.sh
  charts/hono/example/example-tenants.json
  charts/hono/example/example-tenants.sh
  charts/hono/requirements.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-amqps-route.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-ext-svc.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-http-route.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-https-route.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-post-install-configmap.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-post-install-job.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-svc.yaml
  charts/hono/templates/hono-service-device-registry-file/headless-svc.yaml
  charts/hono/templates/hono-service-device-registry-file/hono-service-device-registry-pvc.yaml
  charts/hono/templates/hono-service-device-registry-file/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-file/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#147 Avoid config property name clash
  charts/hono/Chart.yaml
  charts/hono/example/add_example_data_device_registry.sh
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-svc.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-secret.yaml
  charts/hono/values.yaml
Labels: Hono
