Repository eclipse/packages, pull requests merged in 2020-03, with the labels that each got.

#58 Improve configuration of message broker
  charts/hono/Chart.yaml
  charts/hono/config/artemis/broker.xml
  charts/hono/config/router/qdrouterd.json
  charts/hono/templates/artemis/artemis-deployment.yaml
  charts/hono/templates/artemis/artemis-secret.yaml
  charts/hono/templates/artemis/artemis-svc.yaml
  charts/hono/templates/dispatch-router/config/qdrouterd-with-artemis.yaml
  charts/hono/templates/dispatch-router/dispatch-router-deployment.yaml
  charts/hono/templates/dispatch-router/dispatch-router-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#65 [#61] Use hotrod port for readiness probe
  charts/hono/Chart.yaml
  charts/hono/templates/example-data-grid/service.yaml
  charts/hono/templates/example-data-grid/statefulset.yaml
Labels: Hono

#67 Support connecting external protocol adapters
  charts/hono/Chart.yaml
  charts/hono/config/router/qdrouterd.json
  charts/hono/templates/dispatch-router/dispatch-router-ext-svc.yaml
  charts/hono/templates/hono-service-device-registry/hono-service-device-registry-ext-svc.yaml
  charts/hono/values.yaml
Labels: Hono

#69 Improve documentation
  homepage/contribute.md
  homepage/repository.md
Labels: documentation

#71 Added ecplise- prefix to service names in the readme of hono chart
  charts/hono/Chart.yaml
  charts/hono/README.md
Labels: Hono

#66 Configmap for Nginx should not be deploy when nginx is disabled
  charts/ditto/Chart.yaml
  charts/ditto/templates/nginx-configmap.yaml
Labels: Ditto

#73 Add routes and profile for OpenShift
  charts/hawkbit/Chart.yaml
  charts/hawkbit/profileOpenShift.yaml
  charts/hawkbit/templates/routes.yaml
  charts/hawkbit/values.yaml
Labels: hawkBit

#26 Add chart version change hints
  homepage/contribute.md
Labels: documentation

#75 Add support for mounting additional secrets in broker and router
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/config/router/qdrouterd.json
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/artemis/artemis-deployment.yaml
  charts/hono/templates/dispatch-router/dispatch-router-deployment.yaml
  charts/hono/templates/dispatch-router/dispatch-router-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#76 [#74]: Allow using file storage, enable by default
  charts/hawkbit/Chart.yaml
  charts/hawkbit/templates/deployment.yaml
  charts/hawkbit/templates/pvc.yaml
  charts/hawkbit/values.yaml
Labels: hawkBit

#77 Add c2e icon to helm chart
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/values.yaml
Labels: Cloud2Edge

#79 Upon restart, file base device registry configuration is overwritten
  charts/hono/Chart.yaml
  charts/hono/templates/hono-service-device-registry/hono-service-device-registry-statefulset.yaml
Labels: Hono

#80 Upgrade to Hono 1.2.0
  charts/hono/Chart.yaml
  charts/hono/config/router/qdrouterd.json
  charts/hono/example/example-credentials.json
  charts/hono/values.yaml
Labels: Hono
