Repository eclipse/packages, pull requests merged in 2020-07, with the labels that each got.

#112 Upgrade to Infinispan 11.0.0.Final
  charts/hono/Chart.yaml
  charts/hono/config/infinispan/hono-data-grid.xml
  charts/hono/profileNoMonitoring.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/example-data-grid/configmap.yaml
  charts/hono/templates/example-data-grid/service.yaml
  charts/hono/templates/example-data-grid/statefulset.yaml
  charts/hono/values.yaml
Labels: Hono

#113 Updated kind images and k8s JSON schemas to latest versions
  .github/workflows/ci.yaml
Labels: continuous-integration

#114 Update Eclipse Ditto chart to bugfix release 1.1.2
  charts/ditto/Chart.yaml
Labels: Ditto

#116 Make tag name of Hono images configurable
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-kura/hono-adapter-kura-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
  charts/hono/templates/hono-service-device-connection/hono-service-device-connection-deployment.yaml
  charts/hono/templates/hono-service-device-registry/hono-service-device-registry-statefulset.yaml
  charts/hono/values.yaml
Labels: Hono

#117 [#115] Fix issues connecting to Infinispan 11
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/hono-service-device-connection/hono-service-device-connection-secret.yaml
Labels: Hono, bug

#118 Upgrade to latest Hono service release 1.2.4
  charts/hono/Chart.yaml
Labels: Hono

#120 Use Qpid Dispatch Router 1.12.0
  charts/hono/Chart.yaml
  charts/hono/values.yaml
Labels: Hono

#121 Use annotation based Prometheus scraping configuration
  charts/hono/Chart.yaml
  charts/hono/requirements.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-kura/hono-adapter-kura-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
  charts/hono/templates/hono-service-device-connection/hono-service-device-connection-deployment.yaml
  charts/hono/templates/hono-service-device-registry/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/prometheus/prometheus-config.yaml
Labels: Hono

#122 Support existing Prometheus server
  charts/hono/.gitignore
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
Labels: Hono

#123 Use consistent syntax for specifying output format
  homepage/_packages/cloud2edge/scripts/setCloud2EdgeEnv.sh
Labels: Cloud2Edge

#126 Fix repo URLs in Hawkbit requirements
  charts/hawkbit/.gitignore
  charts/hawkbit/Chart.yaml
  charts/hawkbit/requirements.lock
  charts/hawkbit/requirements.yaml
Labels: hawkBit
