Repository eclipse/packages, pull requests merged in 2020-10, with the labels that each got.

#130 Add Quarkus based images profiles and docs
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/hono-adapter-http/hono-adapter-http-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-deployment.yaml
  charts/hono/values.yaml
Labels: Hono

#153 updated Ditto chart to released Ditto 1.3.0
  charts/ditto/Chart.yaml
Labels: Ditto

#132 make service ports configurable
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/dispatch-router/dispatch-router-ext-svc.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-svc.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-vertx-svc.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-vertx-svc.yaml
  charts/hono/templates/hono-adapter-kura/hono-adapter-kura-svc.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-vertx-svc.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-svc.yaml
  charts/hono/templates/hono-service-device-connection/hono-service-device-connection-svc.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-ext-svc.yaml
Labels: Hono, bug
