Repository eclipse/packages, pull requests merged in 2021-09, with the labels that each got.

#283 Update Prometheus and Grafana chart versions
  charts/hono/Chart.yaml
  charts/hono/requirements.yaml
  charts/hono/templates/grafana/grafana-datasource-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#287 Fixed Ditto's nginx ingress template
  charts/ditto/Chart.yaml
  charts/ditto/ci/ingress-values.yaml
  charts/ditto/templates/nginx-ingress.yaml
Labels: bug, Ditto

#289 Ditto 2.1.0 Helm chart
  charts/ditto/Chart.yaml
  charts/ditto/templates/concierge-deployment.yaml
  charts/ditto/templates/connectivity-deployment.yaml
  charts/ditto/templates/gateway-deployment.yaml
  charts/ditto/templates/policies-deployment.yaml
  charts/ditto/templates/things-deployment.yaml
  charts/ditto/templates/thingssearch-deployment.yaml
  charts/ditto/values.yaml
Labels: Ditto

#286 Fix rate()/irate() Hono dashboard queries
  charts/hono/Chart.yaml
  charts/hono/config/grafana/dashboard-definitions/jvm-details.json
  charts/hono/config/grafana/dashboard-definitions/message-details.json
  charts/hono/config/grafana/dashboard-definitions/overview.json
Labels: Hono
