Repository eclipse/packages, pull requests merged in 2021-03, with the labels that each got.

#201 [#200] Fix Artemis startup in OpenShift
  charts/hono/Chart.yaml
  charts/hono/config/artemis/broker.xml
  charts/hono/templates/artemis/artemis-deployment.yaml
  charts/hono/templates/dispatch-router/dispatch-router-route.yaml
Labels: Hono, bug

#206 Support deployment of additional Quarkus based components
  charts/hono/Chart.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-vertx-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
Labels: Hono

#203 [#202] Enable Hono Device Connection service
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/requirements.yaml
  packages/cloud2edge/values.yaml
Labels: Cloud2Edge, Hono, bug

#207 Support deployment of Lora Quarkus adapter
  charts/hono/Chart.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-secret.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-vertx-secret.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-vertx-secret.yaml
Labels: Hono

#210 raise commandRouter memory limit to 512Mi
  charts/hono/Chart.yaml
  charts/hono/values.yaml
Labels: Hono
