Repository eclipse/packages, pull requests merged in 2021-04, with the labels that each got.

#215 Hono: Adapt setting of 'Always' pull policy
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
Labels: Hono

#216 [#213] Use file cache store for embedded cache
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/config/command-router/embedded-cache-config.xml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-deployment.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-pvc.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#217 Add BULK_READ permission to adapter role in datagrid
  charts/hono/Chart.yaml
  charts/hono/config/infinispan/hono-data-grid.xml
Labels: Hono, bug

#218 [#211] Hawkbit: Update rabbitmq chart version
  charts/hawkbit/Chart.yaml
  charts/hawkbit/requirements.yaml
  charts/hawkbit/values.yaml
Labels: hawkBit

#221 Update to Hono 1.7.1, fix example-tenants.sh
  charts/hono/Chart.yaml
  charts/hono/example/certs/trust-anchor.properties
  charts/hono/example/create_certs.sh
  charts/hono/example/default_tenant-trusted-ca.json
  charts/hono/example/example-tenants.sh
Labels: Hono
