Repository eclipse/packages, pull requests merged in 2021-05, with the labels that each got.

#226 [#224] Fix info in README on mounting AMQP network secret
  charts/hono/Chart.yaml
  charts/hono/README.md
Labels: Hono

#229 Prepare for Ditto 2.0
  charts/ditto/Chart.yaml
  charts/ditto/README.md
  charts/ditto/nginx-config/index.html
  charts/ditto/templates/NOTES.txt
  charts/ditto/templates/concierge-deployment.yaml
  charts/ditto/templates/connectivity-deployment.yaml
  charts/ditto/templates/gateway-deployment.yaml
  charts/ditto/templates/nginx-configmap.yaml
  charts/ditto/templates/nginx-ingress.yaml
  charts/ditto/templates/policies-deployment.yaml
  charts/ditto/templates/things-deployment.yaml
  charts/ditto/templates/thingssearch-deployment.yaml
  charts/ditto/values.yaml
Labels: Ditto

#232 Use camel case for resource limit checks configuration
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
Labels: Hono, bug

#233 Add CI profile for testing Quarkus native image based deployment
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/ci/quarkus-native-images-values.yaml
Labels: Hono, enhancement

#236 Use back end to centrally manage Jaeger sampling strategy
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/example/jaeger/default-sampling-strategies.json
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/jaeger/jaeger-deployment.yaml
  charts/hono/templates/jaeger/jaeger-secret.yaml
  charts/hono/values.yaml
Labels: Hono, enhancement

#240 [#239] Document required Helm version to be 3.1 or later
  .github/workflows/ci.yaml
  charts/hono/Chart.yaml
  charts/hono/README.md
  homepage/_questions/05_insecure.md
  homepage/_questions/05_tiller.md
  homepage/prereqs.md
Labels: continuous-integration, documentation

#244 Update c2e package to use latest Hono and Ditto releases
  homepage/_packages/cloud2edge/installation.md
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/example-permissions.json
  packages/cloud2edge/requirements.yaml
  packages/cloud2edge/values.yaml
Labels: Cloud2Edge

#243 updated the Ditto chart to the latest bugfix version 2.0.1
  charts/ditto/Chart.yaml
  charts/ditto/values.yaml
Labels: Ditto

#246 Update to Hono 1.8.0
  charts/hono/Chart.yaml
Labels: Hono

#228 [#223] Add CoAP X.509 support
  charts/hono/Chart.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-vertx-secret.yaml
Labels: Hono
