Repository eclipse/packages, pull requests merged in 2021-11, with the labels that each got.

#317 Do not install Prometheus and Grafana by default.
  .github/workflows/ci.yaml
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/ci/datagrid-values.yaml
  charts/hono/ci/device-connection-service-values.yaml
  charts/hono/ci/mongodb-based-device-registry-values.yaml
  charts/hono/ci/monitoring-values.yaml
  charts/hono/ci/quarkus-native-images-values.yaml
  charts/hono/values.yaml
Labels: Hono

#319 [Hono] Remove obsolete configuration property
  charts/hono/Chart.yaml
  charts/hono/values.yaml
Labels: enhancement, Hono

#320 [Hono] Enable deletion of Kafka topics
  charts/hono/Chart.yaml
  charts/hono/values.yaml
Labels: Hono

#322 Fix usage of springLoggingConfig
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/values.yaml
Labels: Hono

#323 Update Ditto Helm chart to released Ditto 2.2.0
  charts/ditto/Chart.yaml
  charts/ditto/README.md
  charts/ditto/values.yaml
Labels: Ditto
