Repository eclipse/packages, pull requests merged in 2021-06, with the labels that each got.

#248 Upgrade dependencies
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/requirements.yaml
Labels: Cloud2Edge

#250 Request more memory for embedded device registry type
  charts/hono/Chart.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-file/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
  charts/hono/values.yaml
Labels: Hono

#256 Extend Ditto logging configuration options
  charts/ditto/Chart.yaml
  charts/ditto/templates/concierge-deployment.yaml
  charts/ditto/templates/connectivity-deployment.yaml
  charts/ditto/templates/gateway-deployment.yaml
  charts/ditto/templates/nginx-deployment.yaml
  charts/ditto/templates/policies-deployment.yaml
  charts/ditto/templates/swaggerui-deployment.yaml
  charts/ditto/templates/things-deployment.yaml
  charts/ditto/templates/thingssearch-deployment.yaml
  charts/ditto/values.yaml
Labels: Ditto

#263 Hono: Enable parallel usage of AMQP and Kafka messaging
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/profileKafkaMessaging.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/hono-service-command-router/hono-service-command-router-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#259 [Hono] Add NodePort deployment to Hono readme
  charts/hono/Chart.yaml
  charts/hono/README.md
Labels: Hono

#261 [#260] Hono: Support Kafka based messaging in embedded Device Registry
  charts/hono/Chart.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-secret.yaml
Labels: Hono

#262 Hono: Allow to disable TLS on example Kafka deployment
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
Labels: Hono
