Repository eclipse/packages, pull requests merged in 2021-01, with the labels that each got.

#182 Fix repo URLs in GitHub Actions workflow
  .github/ct.yaml
  .github/kubeval.sh
  .github/workflows/ci.yaml
Labels: continuous-integration

#180 [#167] adds configuration option for certificates in dispatch router of Eclipse Hono Chart
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/values.yaml
Labels: Hono, enhancement

#181 Add Jaeger Tracing chapter, minor fixes
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/ci/ci-values.yaml
  charts/hono/ci/datagrid-values.yaml
  charts/hono/ci/device-connection-service-values.yaml
  charts/hono/values.yaml
Labels: Hono, enhancement

#150 Update ingress to comply with kubernetes 1.16
  charts/hawkbit/Chart.yaml
  charts/hawkbit/requirements.yaml
  charts/hawkbit/templates/ingress.yaml
Labels: hawkBit

#87 [#78] Configure Hawkbit to accept proxy forward headers by default
  charts/hawkbit/Chart.yaml
  charts/hawkbit/values.yaml
Labels: hawkBit

#186 Update to latest kubernetes version(s)
  .github/kind-config.yaml
  .github/workflows/ci.yaml
Labels: continuous-integration

#185 Support configuration of components' health probe delay
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/artemis/artemis-deployment.yaml
  charts/hono/templates/dispatch-router/dispatch-router-deployment.yaml
  charts/hono/templates/example-data-grid/statefulset.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-kura/hono-adapter-kura-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
  charts/hono/templates/hono-service-device-connection/hono-service-device-connection-deployment.yaml
  charts/hono/templates/hono-service-device-registry-file/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
  charts/hono/templates/jaeger/jaeger-deployment.yaml
  charts/hono/values.yaml
Labels: Hono

#187 allow to set qdrouterd.json location through values.yaml of Hono chart
  charts/hono/Chart.yaml
  charts/hono/templates/dispatch-router/dispatch-router-deployment.yaml
  charts/hono/values.yaml
Labels: Hono, enhancement

#189 add 'subPath' support for secretVolumeMounts in Hono chart
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
Labels: Hono, enhancement

#188 [#152] Use Mongo DB based device registry by default
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/requirements.yaml
  packages/cloud2edge/values.yaml
Labels: Cloud2Edge, enhancement

#191 Add messaging config for device registries
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/hono-service-device-registry-file/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-secret.yaml
Labels: Hono
