Repository eclipse/packages, pull requests merged in 2021-02, with the labels that each got.

#195 Upgrade to Hono 1.6.0
  charts/hono/Chart.yaml
Labels: Hono

#179 adds documentation for local Kubernetes deployment based on MicroK8s
  homepage/prereqs.md
Labels: Cloud2Edge, documentation

#197 allow specifying custom certificates for adapters
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
Labels: Hono

#199 [#198] Fix 'command-router' cache not being defined
  charts/hono/Chart.yaml
  charts/hono/config/infinispan/hono-data-grid.xml
Labels: Hono, bug
