Repository eclipse/packages, pull requests merged in 2022-06, with the labels that each got.

#374 Update mongodb chart version to 11.2.0
  charts/ditto/Chart.yaml
  charts/ditto/requirements.yaml
  charts/ditto/values.yaml
Labels: Ditto

#373 [#372] Apply workaround for unavailable bitnami dependencies
  charts/hawkbit/Chart.yaml
  charts/hawkbit/requirements.yaml
Labels: hawkBit

#378 Adopt latest k8s versions
  .github/workflows/ci.yaml
Labels: continuous-integration

#381 Hono: Add default-container annotation
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-deployment.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-deployment.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
  charts/hono/values.yaml
Labels: enhancement, Hono
