Repository eclipse/packages, pull requests merged in 2022-07, with the labels that each got.

#382 Add support for passing command line arguments to container CMDs
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/ci/quarkus-native-images-values.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-deployment.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-deployment.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
  charts/hono/values.yaml
Labels: enhancement, Hono

#384 [#383] Use "artemiscloud/activemq-artemis-broker" image
  charts/hono/Chart.yaml
  charts/hono/config/artemis/broker.xml
  charts/hono/config/artemis/launch.sh
  charts/hono/config/artemis/liveness-probe.sh
  charts/hono/config/artemis/readiness-probe.sh
  charts/hono/templates/artemis/artemis-deployment.yaml
  charts/hono/templates/artemis/artemis-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#385 feat: make hono probes configurable
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/artemis/artemis-deployment.yaml
  charts/hono/templates/dispatch-router/dispatch-router-deployment.yaml
  charts/hono/templates/example-data-grid/statefulset.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-deployment.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-deployment.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
  charts/hono/templates/jaeger/jaeger-deployment.yaml
  charts/hono/values.yaml
Labels: enhancement, Hono

#386 Add AKS instructions from Hono code base
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/infra/azure/arm/honoInfrastructureDeployment.json
  charts/hono/infra/azure/arm/templates/kubernetesDeploy.json
  charts/hono/infra/azure/arm/templates/serviceBusDeploy.json
  charts/hono/infra/azure/arm/templates/vnetDeploy.json
  charts/hono/infra/azure/managed-premium-retain.yaml
Labels: documentation, Hono
