Repository eclipse/packages, pull requests merged in 2022-09, with the labels that each got.

#397 [#396] Use Hono 2.1.0 in Hono chart
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/hono-service-auth/hono-service-auth-svc.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-secret.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-secret.yaml
Labels: enhancement, Hono

#399 Remove duplicate mount point in swaggerui deployment
  charts/ditto/Chart.yaml
  charts/ditto/templates/swaggerui-config.yaml
  charts/ditto/templates/swaggerui-deployment.yaml
  charts/ditto/values.yaml
Labels: Ditto

#400 fix: hono readiness probes used the liveness endpoint instead of the readiness endpoint
  charts/hono/Chart.yaml
  charts/hono/values.yaml
Labels: bug, Hono

#407 Use Jaeger all-in-one OTLP endpoint
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/jaeger/jaeger-collector-service.yaml
  charts/hono/templates/jaeger/jaeger-deployment.yaml
  charts/hono/templates/jaeger/otel-collector-agent-config.yaml
  charts/hono/values.yaml
Labels: enhancement, Hono

#403 Fix high CPU usage of Ditto mongodb container
  charts/ditto/Chart.yaml
  charts/ditto/requirements.yaml
  charts/ditto/values.yaml
Labels: Ditto

#389 Hono: Allow adding additional labels and annotations to PodSpecs
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-deployment.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-deployment.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
  charts/hono/templates/jaeger/jaeger-deployment.yaml
  charts/hono/values.yaml
Labels: enhancement, Hono

#406 Fix c2e's Kafka setup when using an external cluster
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/post-install/hono-kafka-connection.json
Labels: Cloud2Edge

#395 Enable self signed certs for Ditto managed Kafka connection in c2e package
  homepage/_packages/cloud2edge/scripts/setCloud2EdgeEnv.sh
  homepage/_packages/cloud2edge/tour.md
  homepage/prereqs.md
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/post-install/hono-kafka-connection.json
  packages/cloud2edge/post-install/insert-kafka-certs.sh
  packages/cloud2edge/requirements.yaml
  packages/cloud2edge/templates/NOTES.txt
  packages/cloud2edge/templates/permissions-secret.yaml
  packages/cloud2edge/templates/post-install-job.yaml
  packages/cloud2edge/templates/post-install-secret.yaml
  packages/cloud2edge/values.yaml
Labels: Cloud2Edge

#419 update ditto chart to 3.0.0
  charts/ditto/Chart.yaml
  charts/ditto/templates/concierge-deployment.yaml
  charts/ditto/templates/concierge-networkpolicy.yaml
  charts/ditto/templates/concierge-pdb.yaml
  charts/ditto/templates/concierge-podmonitor.yaml
  charts/ditto/templates/connectivity-deployment.yaml
  charts/ditto/templates/gateway-deployment.yaml
  charts/ditto/templates/mongodb-secret.yaml
  charts/ditto/templates/policies-deployment.yaml
  charts/ditto/templates/things-deployment.yaml
  charts/ditto/templates/things-networkpolicy.yaml
  charts/ditto/templates/thingssearch-deployment.yaml
  charts/ditto/values.yaml
Labels: Ditto
