Repository eclipse/packages, pull requests merged in 2022-03, with the labels that each got.

#358 Add metrics support for MongoDB/JDBC device registry
  charts/hono/Chart.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
Labels: Hono

#357 Upgrade to latest Ditto service release
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/requirements.yaml
Labels: Cloud2Edge, Ditto

#359 Remove egress from policyType for swaggerui-networkpolicy.yaml
  charts/ditto/Chart.yaml
  charts/ditto/templates/concierge-deployment.yaml
  charts/ditto/templates/connectivity-deployment.yaml
  charts/ditto/templates/gateway-deployment.yaml
  charts/ditto/templates/policies-deployment.yaml
  charts/ditto/templates/swaggerui-networkpolicy.yaml
  charts/ditto/templates/things-deployment.yaml
  charts/ditto/templates/thingssearch-deployment.yaml
  packages/cloud2edge/profileKafkaMessaging.yaml
  packages/cloud2edge/templates/post-install-job.yaml
  packages/cloud2edge/values.yaml
Labels: Ditto
