Repository eclipse/packages, pull requests merged in 2022-04, with the labels that each got.

#364 fixed Ditto chart swagger-ui not loading the Ditto OpenAPI spec as default
  charts/ditto/Chart.yaml
  charts/ditto/templates/nginx-configmap.yaml
Labels: Ditto

#363 Use HTTP scheme for health checks and probes
  charts/hono/Chart.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/prometheus/prometheus-config.yaml
Labels: Hono

#365 [#352] update Ditto chart to Ditto 2.4.0
  charts/ditto/Chart.yaml
  charts/ditto/templates/concierge-deployment.yaml
  charts/ditto/templates/connectivity-deployment.yaml
  charts/ditto/templates/gateway-deployment.yaml
  charts/ditto/templates/policies-deployment.yaml
  charts/ditto/templates/things-deployment.yaml
  charts/ditto/templates/thingssearch-deployment.yaml
  charts/ditto/values.yaml
Labels: Ditto

#366 Update c2e package to use Ditto 2.4.0
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/requirements.yaml
  packages/cloud2edge/values.yaml
Labels: Cloud2Edge
