Repository eclipse/packages, pull requests merged in 2022-02, with the labels that each got.

#335 Upgrade to Hono 1.11
  charts/hono/Chart.yaml
  charts/hono/ci/mongodb-based-device-registry-values.yaml
  charts/hono/config/router/qdrouterd.json
  charts/hono/templates/NOTES.txt
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/artemis/artemis-deployment.yaml
  charts/hono/templates/artemis/artemis-secret.yaml
  charts/hono/templates/artemis/artemis-svc.yaml
  charts/hono/templates/dispatch-router/dispatch-router-deployment.yaml
  charts/hono/templates/dispatch-router/dispatch-router-ext-svc.yaml
  charts/hono/templates/dispatch-router/dispatch-router-route.yaml
  charts/hono/templates/dispatch-router/dispatch-router-secret.yaml
  charts/hono/templates/dispatch-router/dispatch-router-svc.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-secret.yaml
  charts/hono/templates/hono-service-device-connection/hono-service-device-connection-secret.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-file/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#336 Several improvements
  charts/hono/Chart.yaml
  charts/hono/ci/mongodb-based-device-registry-values.yaml
  charts/hono/config/command-router/embedded-cache-config.xml
  charts/hono/config/infinispan/hono-data-grid.xml
  charts/hono/templates/NOTES.txt
  charts/hono/templates/hono-service-command-router/hono-service-command-router-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#337 Cloud2Edge: Update Hono and Ditto dependencies
  .github/ct.yaml
  .github/workflows/ci.yaml
  homepage/_packages/cloud2edge/tour.md
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/README.md
  packages/cloud2edge/example-permissions.json
  packages/cloud2edge/post-install/thing-definition.json
  packages/cloud2edge/requirements.yaml
  packages/cloud2edge/templates/NOTES.txt
  packages/cloud2edge/values.yaml
Labels: Cloud2Edge

#342 [#341] Upgrade to Hono 1.12.0
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/NOTES.txt
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
  charts/hono/values.yaml
Labels: Hono

#343 [#303] Support setting log level in Quarkus based images
  charts/hono/Chart.yaml
  charts/hono/config/logging-quarkus-dev.yaml
  charts/hono/config/logging-quarkus-prod.yaml
  charts/hono/config/logging-quarkus-trace.yaml
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-secret.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-vertx-secret.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-vertx-secret.yaml
  charts/hono/templates/hono-adapter-kura/hono-adapter-kura-deployment.yaml
  charts/hono/templates/hono-adapter-kura/hono-adapter-kura-secret.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-vertx-secret.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-secret.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-secret.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-deployment.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-secret.yaml
  charts/hono/templates/hono-service-device-connection/hono-service-device-connection-deployment.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-file/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-secret.yaml
  charts/hono/values.yaml
Labels: enhancement, Hono

#346 Use Jolokia HTTP API for k8s probes
  charts/hono/Chart.yaml
  charts/hono/config/artemis/broker.xml
  charts/hono/config/artemis/liveness-probe.sh
  charts/hono/config/artemis/readiness-probe.sh
  charts/hono/templates/artemis/artemis-deployment.yaml
  charts/hono/templates/artemis/artemis-secret.yaml
Labels: bug, Hono

#347 Upgrade to latest latest monitoring chart minor versions
  charts/hono/Chart.yaml
  charts/hono/requirements.yaml
  charts/hono/templates/grafana/grafana-dashboard-jvm-configmap.yaml
  charts/hono/templates/grafana/grafana-dashboard-message-details-configmap.yaml
  charts/hono/templates/grafana/grafana-dashboard-overview-configmap.yaml
  charts/hono/values.yaml
Labels: Hono

#349 Upgrade to Hono 1.12.1
  charts/hono/Chart.yaml
Labels: Hono
