Repository eclipse/packages, pull requests merged in 2023-09, with the labels that each got.

#469 Allow overriding release name
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/config/infinispan/hono-data-grid.xml
  charts/hono/config/router/qdrouterd.json
  charts/hono/example/add_example_data_device_registry.sh
  charts/hono/templates/NOTES.txt
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/dispatch-router/dispatch-router-route.yaml
  charts/hono/templates/example-data-grid/statefulset.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-route.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-sec-route.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-route.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-sec-route.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-route.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-sec-route.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-route.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-sec-route.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-route.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-deployment.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-rolebinding.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-route.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-secret.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-amqps-route.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-http-route.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-https-route.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-post-install-job.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-secret.yaml
  charts/hono/templates/kafka/kafka-example-keys.yaml
  charts/hono/templates/prometheus/prometheus-config.yaml
  charts/hono/values.yaml
Labels: Hono

#502 Update K8s versions used in CI tests, update GitHub action versions.
  .github/workflows/ci.yaml
  homepage/prereqs.md
Labels: continuous-integration

#479 [#478] Invalid PVC Size
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-pvc.yaml
  charts/hono/values.yaml
Labels: Hono

#503 Fix curl command in 'Receiving command at device' c2e tour section.
  homepage/_packages/cloud2edge/tour.md
Labels: documentation, Cloud2Edge

#504 [#433] Use consistent LB/NodePort setting in c2e chart, fix c2e docs.
  homepage/_packages/cloud2edge/installation.md
  homepage/prereqs.md
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/values.yaml
Labels: documentation, Cloud2Edge

#495 [#494] add priorityClass support
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/artemis/artemis-deployment.yaml
  charts/hono/templates/dispatch-router/dispatch-router-deployment.yaml
  charts/hono/templates/example-data-grid/statefulset.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-deployment.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-deployment.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
  charts/hono/templates/jaeger/jaeger-deployment.yaml
  charts/hono/values.yaml
Labels: Hono
