Repository eclipse/packages, pull requests merged in 2023-08, with the labels that each got.

#483 [#482] Fix wrong MongoDB hostname; fix MongoDB health checks.
  packages/cloud2edge/Chart.yaml
  packages/cloud2edge/requirements.yaml
  packages/cloud2edge/values.yaml
Labels: bug, Cloud2Edge

#485 Use Hono 2.4.0 container images
  charts/hono/Chart.yaml
  charts/hono/README.md
Labels: enhancement, Hono

#491 [#490] Pin MongoDB chart version, apply minor fixes.
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/example/add_example_data_device_registry.sh
  charts/hono/infra/azure/arm/honoInfrastructureDeployment.json
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-post-install-job.yaml
Labels: Hono
