Repository eclipse/packages, pull requests merged in 2023-04, with the labels that each got.

#463 Wrong (misspelled) variable used for a host
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/config/router/qdrouterd.json
Labels: bug, Hono

#458 Support disabling insecure ports
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/config/router/qdrouterd.json
  charts/hono/templates/dispatch-router/dispatch-router-deployment.yaml
  charts/hono/templates/dispatch-router/dispatch-router-ext-svc.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-secret.yaml
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-svc.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-secret.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-svc.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-secret.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-svc.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-secret.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-svc.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-secret.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-svc.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-secret.yaml
  charts/hono/templates/hono-service-device-registry-base/hono-service-device-registry-ext-svc.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-secret.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-secret.yaml
  charts/hono/values.yaml
Labels: Hono

#452 Allow secretRef's in envFrom fields
  charts/hono/Chart.yaml
  charts/hono/README.md
  charts/hono/templates/_helpers.tpl
  charts/hono/templates/hono-adapter-amqp/hono-adapter-amqp-deployment.yaml
  charts/hono/templates/hono-adapter-coap/hono-adapter-coap-deployment.yaml
  charts/hono/templates/hono-adapter-http/hono-adapter-http-deployment.yaml
  charts/hono/templates/hono-adapter-lora/hono-adapter-lora-deployment.yaml
  charts/hono/templates/hono-adapter-mqtt/hono-adapter-mqtt-deployment.yaml
  charts/hono/templates/hono-service-auth/hono-service-auth-deployment.yaml
  charts/hono/templates/hono-service-command-router/hono-service-command-router-deployment.yaml
  charts/hono/templates/hono-service-device-registry-embedded/hono-service-device-registry-statefulset.yaml
  charts/hono/templates/hono-service-device-registry-jdbc/hono-service-device-registry-deployment.yaml
  charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-deployment.yaml
  charts/hono/templates/jaeger/jaeger-deployment.yaml
  charts/hono/values.yaml
Labels: enhancement, Hono
